@import "bootstrap";

/*
    Styling stretch goals:
    (1) Font that scales to device size
    (2) Add proper validation for when 'image' uploaded isn't really an image
        - This might effect tests... 
    (3) Improved flash message display
    (4) Improved image scaling for grams, depending on device (small look good so far, large not so much)
    (5) Improve styling for warnings on forms for invalid fields

*/

/*

    Lessons 19, at section : Styling the GramController's New Action

*/

/* To do: Review all class declation syntax here
    Investigate these:

    .card.form {

    .card p, .card .message {

*/

/*
    Note: just found:
    Devise has classes named 
        form-actions (though we already put 'my-btn' there
        form-inputs
    It also utilizes simple form
*/


/* Test out deleting a gram, editing a gram, adding a comment */

/*              REVIEW ALL COMMENTS             */




body {
    background-color: #d2d2d2;
    font-family: 'Josefin Sans', sans-serif; /* <- Course value */
    
}

input {
    font-size: 18px;
    font-weight: 400;
}

label {
    font-size: 18px;
}


//===============================


.brand {
    color: #125688;                 /* <- Course value - shared blue */
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
}

.card { /* <- All course values */
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba (0, 0, 0, 0.25);
    border: 1px solid #e8e8e8;
    margin-top: 40px;
    padding: 0;
}

/* Did the lesson mean to do it this way? */
.card.form {
    padding: 20px;
}

.card p, .card .message {
    font-size: 18px;
    margin: 20px;
}

.comment {
    font-size: 16px;
    margin-top: 5px;
}

.comment_handle {
    color: #125688;                 /*<- Course value, same shared blue */
    font-weight: bold;
    font-size: 18px;
}

.comments {
    padding: 20px;
}

.gram-actions a {
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    margin-left: auto;
}

.handle { /* <- All course values */
    margin: 10px;
    color: #125688;                 /*<- Course value, same shared blue */
    font-weight: bold;
    font-size: 18px;
}

/* Why .input and not just input ? Is it a Bootstrap class? */

.input.boolean {
    margin-left: 18px;
    margin-top: 5px;
}

.input.boolean label {
    margin-top: 5px;
    line-height: 44px;
}

.my-btn {
    background-color: #125688;      /*<- Course value, same shared blue */
    width: 100%;
    border: none;
    font-size: 24px;
    color: white;
    margin-top: 10px;
}

.top-nav {
    background-color: white;
    /* Next 3 items use the course values */
    border-bottom-color: #edeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 70px;
    padding-top: 15px;

    .add {
        margin-top: 10px;

        a {
            font-weight: bold;
            color: #125688;         /* <- Course value, same color used by .brand */
            font-size: 16px;
            padding-left: 8px;
        }
    }
}